[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
owl-robot-client = {file = "owl_robot_client", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
